body {
 	background:url(/images/beijing.jpg);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
.category-all-page .category-list-count {
  color: #6293ce;
}


.tag-cloud-0 {
  border-bottom-color: #000;
  color: #000;
}